
@import "feedback.css";



*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
        --background-principal: #05060A;
}

body{
    margin: 0px;
    background-color: #020204;
    height: 1000px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #010103;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index: 100;
    position: fixed;
}

header img{
    width: 75px;
    height: 60px;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 5px 0px;
    margin: 0px 10px;
    transition: 0.6s;
    border-bottom: 1px inset #ffffff00;
}

header a:hover{
    color: #CCAD77;
    border-bottom: 1px solid #CCAD77;
}

header .fa-magnifying-glass, .fa-cart-shopping, .fa-right-to-bracket{
    color: white;
    font-size: 1.3em;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.6s;
}

header .fa-magnifying-glass:hover, .fa-cart-shopping:hover, .fa-right-to-bracket:hover{
    color: #CCAD77;
    font-size: 1.3em;
    margin: 0px 10px;
}

.links{
    height: 60px;
    display: flex;
    align-items: center;
    
}

main .home{
    width: 100%;
    height: 750px;
    background-image: url(img/home-img.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 120px 50px;
   
}

.home h1{
    color: white;
    font-size: 4em;
    justify-content: center;
}

.home p{
    color: rgb(187, 187, 187);
    max-width: 450px;
    text-align: justify;
    line-height: 1.5em;
    word-spacing: 5px;
    font-size: 1.1em;
    
}

.home button{
    padding: 15px 20px;
    border: none;
    background-color: #a68856;
    color: rgb(208, 208, 208);
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.6s;
}

.home button:hover{
    background-color: #695737;
    transform: translateX(30px);
    color: white;
}

main .sobre{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

.sobre h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
}

.sobre .content-main{
    width: 90%;
    height: 70%;
    background-color: #13131A;
    display: flex;
    flex-wrap: row wrap;
    position: relative;
    border-bottom: 3px solid #13131A;
    z-index: -1;
}

.content-main .img-sobre{
    width: 50%;
    background-image: url(img/about-img.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.content-main .text-sobre{
    background-color: #13131A;
    width: 50%;
    padding: 20px 20px;
}

.text-sobre h2{
    color: #fff;
    font-size: 2em;
}

.text-sobre p{
    color: rgb(208, 208, 208);
    line-height: 1.5em;
    font-size: 0.9em;
    word-spacing: 5px;
}

.content-main button{
    padding: 15px 40px;
    border: none;
    background-color: #a68856;
    color: rgb(214, 214, 214);
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.6s;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.content-main button:hover{
    background-color: #695737;
    transform: translateX(-30px);
    color: white;
}

main .cardapio{
    width: 100%;
    height: 700px;


}

.cardapio h1{
    color: white;
    font-size: 2.5em;
    text-align: center;
}


.cardapio-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 90%;
  
    margin: auto
    
    
}

.cardapio .top, .bottom{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.box{
    width: 30%;
    height: 300px;
    background-color: #020204;
    border: 1px solid #ccc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

.box:hover{
    background-color: aliceblue;
    color: black;
}
.box:hover h2, .box:hover span{
    color: #010103;
}

.box img{
    width: 70px;
    height: 70px;
}

.box h2, .box span{
    color: white;
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.box button{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #CCAD77;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;

}

.box button:hover{
    background-color: #695737;
    color: white;
}

.box button:hover .fa-cart-shopping{
    animation-name: kart-show;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.produtos{
    width: 100%;
    height: 800px;
    margin-top: 80px;
    
}



.produtos h2{
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.produtos span{
    color: #CCAD77;
}


.produtos-flex{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}

.produtos-flex .boxp{
    width: 30%;
    height: 90%;
    background-color: #020204;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.6s;
}

.boxp span{
    font-size: 1.2em;
}

.boxp img{
    width: 150px;
    height: 300px;
}

.boxp h2, .boxp span{
    color: white;
    font-size: 1.7em;
}

.boxp .fa-star{
    color: #CCAD77;
}

.boxp:hover{
    background-color: aliceblue;
}

.boxp:hover h2, .box:hover span{
    color: rgb(0, 0, 0);
}

.boxp:hover span{
    color: rgb(0, 0, 0);
}

.boxp:hover  .fa-star{
    color: rgb(0, 0, 0);
}

@keyframes kart-show {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.pesquisa{
    position: absolute;
    right: 150px;
    top: 50px;
    transform: translateY(-100px);
    transition: 0.7s;
    opacity: 0;
}

.pesquisa .fa-magnifying-glass{
    position: relative;
    top: 3px;
}

.searchinput{
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    transition: 0.7s;
    display: inline-block;
}


.pesquisa.active{
    transform: translateY(60px);
    z-index: 50;
    opacity: 1;
}

.market{
    position: absolute;
    width: 350px;
    height: 600px;
    background-color: white;
    top: 100px;
    right: 0px;
    transform: translateX(350px);
    transition: 0.7s;
}

.market.active_market{
    transform: translateX(0px);
}

.market-flex{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.market-flex h2{
    font-size: 1.2em;
}

.market-flex .fa-xmark{
    font-size: 1.3em;
    color: #b1b1b1;
    cursor: pointer;
    transition: 0.7s;
}

.market-flex .fa-xmark:hover{
    color: black;
}

.market-flex span{
    color: #CCAD77;
    position: relative;
    bottom: 10px;

}

.market button{
    width: 90%;
    border: none;
    padding: 15px 10px;
    background-color: #CCAD77;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.7s;
}

.market button:hover{
    background-color: #695737;
    color: #fff;
}

.backModal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.727);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.backModal.active_modal{
    display: flex;
}

.backModal .modal{
    width: 500px;
    height: 300px;
    background-color: rgb(21, 23, 26);
    display: block;
    border-radius: 10px;
    padding: 30px 30px;
    position: relative;

}

.modal label{
    color: #fff;
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: bold;
    color: #CCAD77;
}

.modal input{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.modal button{
    width: 100px;
    padding: 14px 14px;
    border-radius: 7px;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #CCAD77;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;

}

.modal button:hover{
    background-color: #695737;
}

.modal .fa-xmark{
    position: absolute;
    color: #fff;
    font-size: 1.3em;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

[data-set="animation"]{
    transition: 1s;
    opacity: 0;
}

[data-set="animation"].section_anima{
    animation-name: show-section;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes show-section{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}






